*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* font-family: 'Press Start 2P', cursive; */
  }
  
  html, body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #313131;
  }
  
  /* Nav 
  .nav {
    background-color: #FF6B4A;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .logo {
    height: 47px;
    width: 160px;
    margin: 10px 80px;
  }
  
  .nav ul {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 25%;
    margin-right: 30px;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .item-menu {
    text-transform: uppercase;
    color: #083962;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 4px;
    border-bottom: 1px solid #E46043;
  }
  
  .item-menu:hover {
    color: #1F2020;
    padding-bottom: 5px;
    border-bottom: 1px solid #1F2020;
  }
  */
  
  /* MAIN */
  
  main{
    height: 1350px;
    width: 100%;
  }

  main .container{
    width: 100%;
    height: 70vh;
  
    color: white;
  }

  .box-sobre {
    border-radius: 15px;
    color: black;
    background-color: antiquewhite;
    border: 1px #083962 solid;
    display: flex;
    flex-flow: column;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
  }

  .box-sobre p, h1, h3 {
    padding-bottom: 20px;
  }

  /* .imgLuna img, .imgIsa img {
    border-radius: 100%;
    box-shadow: 0px 0px 100px;
  } */



 .boxDev{
   color: black;
   font-size: 21px;
   padding: 10px;
  border-radius: 30px;
  border: #1a1a1a 2px solid;
  background-color: #4353e441;
  width: 63%;
  margin: 20px auto 15px auto;
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
 }

 .boxDev p {
   padding: 10px;
 }

main .container .boxDev .contentDev img {
  border-radius: 100%;
}



main .container .boxLuna .contentLuna p,
main .container .boxIsa .contentIsa p{
  margin: 5px 0px 5px 0px
}

  /*  FOOTER 
  
  footer{
    border-top: 1px solid rgb(26, 26, 26);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083962;
    color: wheat;
  
  }
  footer p{
    font-size: .9rem;
  }
  
  footer p.text-direitos{
    font-size: .8rem;
    text-align: center;
  }
  
  footer p a{
    font-weight: 500;
    color: #eec214;
  }
  
  footer p a:hover{
    text-decoration:underline;
  }

  */
  
  
  
  /* Media Queries */
  
  @media only screen and (min-width:400px) and (max-width:615px){
  
  
    /* NAV */
  
    .nav {
      display: flex;
      justify-content: flex-start; 
      height: 80px;
    }
    
    .logo {
      margin-left: .4rem;
      margin: auto;
    }
    
    .nav ul {
      width: 45%;
      margin-right: 0px;
    }
  
  }
  
  @media only screen and (min-width:250px) and (max-width:420px){
  
    .nav {
      height: 80px;
    }
  
    .logo {
      margin-left: .8rem;
      margin-right: 0;
      margin-top: 18px;
      
    }
  
    .nav li {
      margin-right: 1.2rem;
    }
  
    .btn-pesquisar{
      margin-top: 10px;
    }
  
  }
  
  