 *{
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Segoe UI', sans-serif;
}

/* Nav */
.nav {
  background-color: #FF6B4A;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.logo {
  height: 47px;
  width: 160px;
  margin: 10px 80px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  width: 25%;
  margin-right: 30px;
}

.nav li {
  display: inline-block;
}

.item-menu {
  text-transform: uppercase;
  color: #083962;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 4px;
  border-bottom: 1px solid #E46043;
}

.item-menu:hover {
  color: #1F2020;
  padding-bottom: 5px;
  border-bottom: 1px solid #1F2020;
}

/* Content */

main{
  width: 100%;
  height: 70vh;
}

main .text{
  margin: 2.8rem 0;
  text-align: center;
  font-size: 1.8rem;
}


main .buttons{
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;

}

main .buttons input{
  width: 40vw;
  font-size: 1.2rem;
}

main .buttons button{
  width: 10rem;
  height: 3rem;
}

.card {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 40px;
  height: 320px;
  width: 256px;
  border-radius: 20px;
  border: 1.6px solid black;
  background-color: #3760A6;
}


#container{
  text-align: center;
  width: 14%;
  height: 30%;
  background-color: lightgreen;
  border-radius: 10px;
  box-shadow: 5px 5px 3px black;
  margin: 2rem auto;
}

/* Melhorando o código */
.m-auto-texto-card {
  margin-left: auto;
  margin-right: auto;
}


/* fim - melhorando o codigo */

.nome_default {
  width: 95%;
  color: azure;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  text-align: center;
}

.shadow {
  text-shadow: -1px 0px 8px rgba(0,0,0,1);
}

.numero_default {
  height: 40px;
  display: inline-block;
  color: yellow;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  position: relative;
}

.imagem_default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin-bottom: 28px;
}


#nome{
  color:#ececec;
  position: relative;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  text-shadow: -1px 3px 3px rgba(0,0,0,1);
  
}

#pic{
  width: 80px;
  height: 80px;
}

.estilo_numero {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  color:#ececec;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

button{
  font-size: 1.2rem;
  cursor: pointer;
}

/* Cores dos Card Backgrounds */
.bug {
  background-color: #BAF862 !important;
}

.dark {
  background-color: #595978;
}

.dragon {
  background-color: #448A95;
}

.electric {
  background-color: #F6D54A;
}

.fairy {
  background-color: #E91368;
}

.fighting {
  background-color: #FF4041;
}

.fire {
  background-color: #EE6241;
}

.flying {
  background-color: #94B2C7;
}

.ghost {
  background-color: #595978;
}

.grass {
  background-color: #27CB50;
}

.ground {
  background-color: #6E491F;
}

.ice {
  background-color: #86D2F5;
}

.normal {
  background-color: #60756E;
}

.poison {
  background-color: #595978;
}

.psychic {
  background-color: #E91368;
}

.rock {
  background-color: #48190B;
}

.steel {
  background-color: #43BD94;
}

.water {
  background-color: #94D5CD;
}

/* Fim das cores dos Cards Backgrounds*/


/*  FOOTER */

footer{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  font-size: .9rem;
}

footer p.text-direitos{
  font-size: .8rem;
  text-align: center;
}

footer p a{
  font-weight: 500;
}

footer p a:hover{
  text-decoration:underline;
}



/* Media Queries */

@media only screen and (min-width:400px) and (max-width:615px){


  /* NAV */

  .nav {
    display: flex;
    justify-content: flex-start; 
    height: 80px;
  }
  
  .logo {
    margin-left: .4rem;
    margin: auto;
  }
  
  .nav ul {
    width: 45%;
    margin-right: 0px;
  }

}

@media only screen and (min-width:250px) and (max-width:420px){

  .nav {
    height: 80px;
  }

  .logo {
    margin-left: .8rem;
    margin-right: 0;
    margin-top: 18px;
    
  }

  .nav li {
    margin-right: 1.2rem;
  }

}

